#root {
  position: relative;
  width: 100%;
  height: 100%;
}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main--hide-markers {
  .marker {
    display: none;
  }
}

.photo,
.video {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  object-fit: contain;
  z-index: 3;
}
